*.pyc
*.pth
*.jpg
.idea/
__pycache__/
.vscode/
checkpoint/
data/
data_png/

env_trus/

example_data/
junk_code
junk_data

train_predict_v1
valid_predict_v1
valid_predict_kfold_v1
Cancer-5/

wandb/
cancer_research-dima/

ONNX/
