*.pyc
*.pth
*.jpg
!image_readme/Prostate_Cancer.jpg
*.png
.idea/
__pycache__/
.vscode/
checkpoint/
data/
data_png/

env_trus/

inference_API/
inference_script/

inference/model/FPN_trained.ONNX
inference/model/UNET++_trained.ONNX


inference_ONNX/model/UNET++_trained.ONNX
inference_ONNX/model/FPN_trained.ONNX


inference_PyTorch/model/UNET++_trained.ONNX

example_data/
junk_code
junk_data

train_predict_v1
valid_predict_v1
valid_predict_kfold_v1
Cancer-5/

wandb/
cancer_research-dima/

ONNX/
